<!-- BEGIN ADMIN_CUSTOM BASE -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SBA-3 Admin</title>
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
	{% block header %}
	{% endblock %}
	
    <section class="container">
    	{% block login_container %}
    	{% endblock %}

    	{% block admin_page %}
	    	<div class="row admin-page">
	    		<div class="col-sm-3 col-md-3">
	    			<ul class="nav nav-pills nav-stacked" role="tablist">
	    			  <li class="active"><a href="#home" role="tab" data-toggle="pill">Home</a></li>
	    			  <li><a href="#users" role="tab" data-toggle="pill">Users</a></li>
	    			  <li><a href="#registerschools" role="tab" data-toggle="pill">Create School</a></li>
	    			  <li><a href="#surveys" role="tab" data-toggle="pill">Surveys</a></li>
	    			  <li><a href="#settings" role="tab" data-toggle="pill">Account Settings</a></li>
	    			</ul>
	    		</div>
	    		<div class="col-sm-9 col-md-9 tab-content">
	    			<div class="tab-pane home active" id="home">{% include 'admin_home.html' %}</div>
	    			<div class="tab-pane users" id="users">{% include 'users.html' %}</div>
	    			<div class="tab-pane registerschools" id="registerschools">{% include 'register_schools.html' %}</div>
	    			<div class="tab-pane surveys" id="surveys">{% include 'surveys.html' %}</div>
	    			<div class="tab-pane settings" id="settings">{% include 'settings.html' %}</div>
	    		</div>
	    	</div>
    	{% endblock %}
	</section>	   

    {% block footer%}
    {% endblock %}

    {% block modal_boxes %}
    {% endblock %}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>