{% extends "admin_custom/base.html" %}

{% block body %}
<div class="row">
	<div class="col-xs-6 columns center-block">
		<form action="" method="post" role="form">
			{% csrf_token %}
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="">
			</div>
			<div class="form-group">
				<label for="password">Email address</label>
				<input type="password" class="form-control" id="password" placeholder="">
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}