{% block login_container %}
<div class='row'>
	<div class='col-xs-6 login-container'>
		{% if err_msg %}<div class="login_err">{{ err_msg }}</div>{% endif %}
		<form action="{% url 'login_view' %}" method='post' role='form'>
			{% csrf_token %}
			{% for field in login_form %}
				<div class='form-group'>
					<label for='{{ field.id_for_label }}'>{{ field.label }}</label>
					<input type='{{ field.html_name }}' class='form-control' id='{{ field.id_for_label }}' name='{{ field.html_name }}' value="{% if field.html_name != 'password' %}{{ field.value }}{% endif %}" placeholder=''>
				</div>
			{% endfor %}
			<div class='form-group text-center'>
				<button type='submit' class='btn btn-default'>Submit</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}