{% extends 'admin_custom/surveys.html' %}

{% block school_data %}
<div class="row">
	<div class="col-xs-8">
		<form action='{% url "admin" %}/#surveys' method='post' class="form-horizontal survey-school-select-form" role="form">
			{% csrf_token %}
			<div class="form-group">
				<label for="survey_school_select" class="col-sm-2 control-label">School:</label>
				<div class="col-sm-6">
					<select name="survey_school_select" id="survey_school_select" class='form-control'>
						<option value="">--</option>
						{% for school in school_list %}
							<option value='{{ school.id }}'>{{ school }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-default btn-block">View Data</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{% if not survey_school_selected %}
			Please select a school from the list.
		{% else %}
			<table class="table table-striped table-condensed survey-table">
			    <thead>
			        <tr>
			            <th>ID</th>
			            <th>Completed?</th>
			            <th>Continuation Key</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			        {% for student in student_list %}
			            <tr>
			                <td>{{ student.user_id }}</td>
			                <td>{{ student.completed }}</td>
			                <td>{{ student.continue_pass }}</td>
			                <td class="actions">
			                    <a href="{% url 'school_student_data' student.school_id_id student.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
			                    <a href="#"><span class="glyphicon glyphicon-download-alt"></span></a>
			                </td>
			            </tr>
			        {% endfor %}
			    </tbody>
			</table>
		{% endif %}
	</div>
</div>
{% endblock %}