{% extends "admin_custom/admin_custom_base.html" %}

{% block header %}
  <header>
    <div class="container">
      <div class="row page-header">
        <div class="col-xs-6">
          <h1>SBA-3</h1>
        </div>
        <div class="col-xs-5 text-right">
          <span class="logout text-muted" style="display:inline-block; padding-bottom: 3px; border-bottom: 2px solid #cccccc;">{{ currentUserEmail }}</span>
        </div>
        <div class="col-xs-1 text-right">
          <a href="{% url 'logout_view' %}" class="btn btn-default btn-sm logout">Log Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block survey_school_page %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'manage_roster' school_id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Go Back
        </a>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <h1><small>Survey Results for:</small> {{ user_id }}</h1>
      </div>
    </div>
    <table class="table table-striped">
      <tr>
        <td>
          What is your class status?
        </td>
        <td>
          {{results.p1q1}}
        </td>
      </tr>

      <tr>
        <td>
          What is your major?
        </td>
        <td>
          {{results.p1q2}}
        </td>
      </tr>

      <tr class="ifNotGrad">
        <td>
          Did you transfer from a community/junior college?
        </td>
        <td>
          {{results.p1q3}}
        </td>
      </tr>

      <tr>
        <td>
          Are you enrolled in a "Distance or Online" degree program at MSU?
        </td>
        <td>
          {{results.p1q4}}
        </td>
      </tr>

      <tr class='ifDistance'>
        <td>
          Have you ever taken a course that meets on campus?
        </td>
        <td>
          {{results.p1q5}}
        </td>
      </tr>

      <tr>
        <td>
          Did you attend a pre-kindergarten program?
        </td>
        <td>
          {{results.p1q6}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Did you complete any advanced placement courses in high school?
        </td>
        <td>
          {{results.p1q7}}
        </td>
      </tr>

      <tr>
        <td>
          Do you consider yourself a first generation college student?
        </td>
        <td>
          {{results.p1q8}}
        </td>
      </tr>

      <tr>
        <td>
          Prior to High School, did you personally know anyone who worked in the fields of Science, Technology, Engineering, or Math?
        </td>
        <td>
          {{results.p1q9}}
        </td>
      </tr>

      <tr>
        <td>
          Please consider the following statement: Education was encouraged in my family. Would you...
        </td>
        <td>
          {{results.p1q10}}
        </td>
      </tr>

      <tr>
        <td>
          In terms of your academic achievement, who contributed to your success the most?
        </td>
        <td>
          {{results.p1q11}}
        </td>
      </tr>

      <tr>
        <td>
          While growing up, did you have a mentor?
        </td>
        <td>
          {{results.p2q1}}
        </td>
      </tr>

      <tr>
        <td>
          Do you have a mentor now?
        </td>
        <td>
          {{results.p2q2}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do you see role models on campus?
        </td>
        <td>
          {{results.p2q3}}
        </td>
      </tr>

      <tr>
        <td>
          How would you rate your time management skills?
        </td>
        <td>
          {{results.p2q4}}
        </td>
      </tr>

      <tr>
        <td>
          Do you routinely use a calendar or daily planner (paper or digital)?
        </td>
        <td>
          {{results.p2q5}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do you review your class notes after class?
        </td>
        <td>
          {{results.p2q6}}
        </td>
      </tr>

      <tr>
        <td>
           In general, do you study for tests by yourself?
        </td>
        <td>
          {{results.p2q7}}
        </td>
      </tr>

      <tr>
        <td>
          Select the type of learning style that describes you best:
        </td>
        <td>
          {{results.p2q8}}
        </td>
      </tr>

      <tr>
        <td>
          On average, how many hours per DAY do you spend studying?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p2q9}}
        </td>
      </tr>

      <tr>
        <td>
          On average how many days in advance do you begin studying for upcoming exams?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p2q10}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          In general, how many class sessions do you miss over the course of a semester?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p2q11}}
        </td>
      </tr>

      <tr>
        <td>
          Are you currently attending tutoring sessions?
        </td>
        <td>
          {{results.p3q1}}
        </td>
      </tr>

      <tr class='ifTutoring'>
        <td>
          On average, how many hours do you spend in tutoring sessions per week?
        </td>
        <td>
          {{results.p3q2}}
        </td>
      </tr>

      <tr class='ifNotTutoring'>
        <td>
          Would you attend tutoring sessions if they were freely available?
        </td>
        <td>
          {{results.p3q3}}
        </td>
      </tr>

      <tr class='ifNotTutoring'>
        <td>
          Have you looked for tutoring help?
        </td>
        <td>
          {{results.p3q4}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Compared to high school, has the time you spend studying for classes...
        </td>
        <td>
          {{results.p3q5}}
        </td>
      </tr>

      <tr>
        <td colspan="2">
          How often do you do the following:
        </td>
      </tr>
      <tr class='ifOnCampusClass'>
        <td>
          Show up late for class (1)
        </td>
        <td>
          {{results.p3q6}}
        </td>
      </tr>

      <tr>
        <td>
          Turn assignments in late or incomplete (2)
        </td>
        <td>
          {{results.p3q7}}
        </td>
      </tr>

      <tr>
        <td>
          Miss an exam or quiz (3)
        </td>
        <td>
          {{results.p3q8}}
        </td>
      </tr>

      <tr>
        <td>
          Seek extra credit to improve a grade (4) 
        </td>
        <td>
          {{results.p3q9}}
        </td>
      </tr>

      <tr>
          <td>
            Do you visit your professors on a regular basis? (1)
          </td>
          <td>
            {{results.p4q1}}
            </select>
          </td>
        </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do you regularly ask questions in class? (2)
        </td>
        <td>
          {{results.p4q2}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do your professors ask you questions during class? (3)
        </td>
        <td>
          {{results.p4q3}}
        </td>
      </tr>

       <tr class='ifOnCampusClass'>
        <td>
          Do you take complete class notes? (4)
        </td>
        <td>
          {{results.p4q4}}
        </td>
      </tr>

      <tr>
        <td>
          Do you have a study group? (5)
        </td>
        <td>
          {{results.p4q5}}
        </td>
      </tr>

      <tr>
        <td>
          Do you own a personal computer? (6)
        </td>
        <td>
          {{results.p4q6}}
        </td>
      </tr>

      <tr>
        <td>
          Do you have consistent access to broadband Internet? (7)
        </td>
        <td>
          {{results.p4q7}}
        </td>
      </tr>

      <tr>
        <td>
          Do you use the Internet to complete assignments? (8)
        </td>
        <td>
          {{results.p4q8}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do you usually have all of the required books and materials by the second class meeting? (9)
        </td>
        <td>
          {{results.p4q9}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          When professors ask questions, are you typically among the first to raise your hand? (10)
        </td>
        <td>
          {{results.p4q10}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          In a typical classroom, where do you usually sit when seating is not assigned?
        </td>
        <td>
          {{results.p4q11}}
        </td>
      </tr>

      <tr>
        <td>
          How important to your academic success are the following:
        </td>
      </tr>

      <tr>
        <td>
          Membership in Student Organization
        </td>
        <td>
          {{results.p5q1}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Programs that help students transition from High School to College
        </td>
        <td>
          {{results.p5q2}}
        </td>
      </tr>

      <tr>
        <td>
          Peer Mentoring
        </td>
        <td>
          {{results.p5q3}}
        </td>
      </tr>

      <tr>
        <td>
          One-on-one mentoring by faculty
        </td>
        <td>
          {{results.p5q4}}
        </td>
      </tr>

      <tr>
        <td>
          One-on-one mentoring from staff
        </td>
        <td>
          {{results.p5q5}}
        </td>
      </tr>

      <tr>
        <td>
          Encouraging words from my professors/ instructors
        </td>
        <td>
          {{results.p5q6}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Parent(s)/ Guardian(s) desire for me to earn a college degree
        </td>
        <td>
          {{results.p5q7}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Hearing my parent(s)/guardian(s) bragging about me for attending college
        </td>
        <td>
          {{results.p5q8}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Parent(s)/Guardian(s) giving gifts or money for making good grades
        </td>
        <td>
          {{results.p5q9}}
        </td>
      </tr>

      <tr>
        <td>
          Friends' encouragement to do well in college
        </td>
        <td>
          {{results.p5q10}}
        </td>
      </tr>

      <tr>
        <td>
          Encouragement from my church family or community to stay in school
        </td>
        <td>
          {{results.p5q11}}
        </td>
      </tr>

      <tr>
        <td>
          Participation in voluntary study groups
        </td>
        <td>
          {{results.p5q12}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Reviewing course notes shortly after class
        </td>
        <td>
          {{results.p5q13}}
        </td>
      </tr>

      <tr>
        <td>
          Visiting professors during their office hours
        </td>
        <td>
          {{results.p5q14}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you participate in programs that help students transition from high school to college?
        </td>
        <td>
          {{results.p6q1}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you have a peer mentor?
        </td>
        <td>
          {{results.p6q2}}
        </td>
      </tr>

      <tr>
        <td>
          Do you have a one-on-one faculty mentor?
        </td>
        <td>
          {{results.p6q3}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you have a one-on-one staff mentor?
        </td>
        <td>
          {{results.p6q4}}
        </td>
      </tr>

      <tr>
        <td>
          Do you receive encouraging words from your professors?
        </td>
        <td>
          {{results.p6q5}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you hear your parents/guardians bragging about you for attending college?
        </td>
        <td>
          {{results.p6q6}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you parents/guardians give you gifts or money for making good grades?
        </td>
        <td>
          {{results.p6q7}}
        </td>
      </tr>

      <tr>
        <td>
          Do your friends encourage you to do well in college?
        </td>
        <td>
          {{results.p6q8}}
        </td>
      </tr>

      <tr>
        <td>
          Do you receive encouragement from your church family or community to stay in school?
        </td>
        <td>
          {{results.p6q9}}
        </td>
      </tr>

      <tr>
        <td>
          My professors expect me to do well in most classes. 
        </td>
        <td>
          {{results.p6q10}}
        </td>
      </tr>

      <tr>
        <td>
          My professors make me feel good about my academic work in class.
        </td>
        <td>
          {{results.p6q11}}
        </td>
      </tr>

      <tr>
        <td>
          Earning a college degree is the best path to financial security.
        </td>
        <td>
          {{results.p6q12}}
        </td>
      </tr>

      <tr>
        <td>
          What Letter Grade do YOU expect to make at MSU?
        </td>
        <td>
          {{results.p7q1}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          What Letter Grade do your PARENT(S)/ GUARDIAN(S) expect you to make at MSU?
        </td>
        <td>
          {{results.p7q2}}
        </td>
      </tr>

      <tr>
        <td>
          What Letter Grade do your TEACHERS/ PROFESSORS expect you to make at MSU?
        </td>
        <td>
          {{results.p7q3}}
        </td>
      </tr>

      <tr>
        <td>
          What Letter Grade do your CLOSE FRIENDS expect you to make at MSU?
        </td>
        <td>
          {{results.p7q4}}
        </td>
      </tr>

      <tr>
        <td>
          What Letter Grade do your BROTHER(S)/ SISTER(S) expect you to make at MSU?
        </td>
        <td>
          {{results.p7q5}}
        </td>
      </tr>

      <tr>
        <td>
          What was your highest ACT Score?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p7q6}}
        </td>
      </tr>

      <tr>
         <td>
          What was your overall grade point average (GPA) in High School?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p7q7}}
        </td>
      </tr>
      <tr>
        <td>
          What was your overall grade point average (GPA) in College?<br>
          (-1 for Not Sure, -2 for No Comment)
        <td>
          {{results.p7q8}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          How many on-line classes have you completed with a grade of less than "C" at MSU?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p7q9}}
        </td>
      </tr>

      <tr>
        <td>
          Did you attend a Student Orientation session before starting college?
        </td>
        <td>
          {{results.p8q1}}
        </td>
      </tr>

      <tr class='ifNotGrad ifOrientation'>
        <td>
          Did your parents (or guardians) attend an orientation session with you?
        </td>
        <td>
          {{results.p8q2}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do you share your grades with your parent(s) or legal guardian(s)?
        </td>
        <td>
          {{results.p8q3}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
          Do your parents (or guardians) require you to maintain a certain GPA in college?
        </td>
        <td>
          {{results.p8q4}}
        </td>
      </tr>

      <tr>
        <td>
          Do you believe you were academically prepared for college?
        </td>
        <td>
          {{results.p8q5}}
        </td>
      </tr>

      <tr>
        <td>
          I should have read more books before college. (1)
        </td>
        <td>
          {{results.p8q6}}
        </td>
      </tr>

      <tr>
        <td>
          I should have taken more math courses in high school. (2)
        </td>
        <td>
          {{results.p8q7}}
        </td>
      </tr>

      <tr>
        <td>
          I should have taken more science courses in high school. (3)
        </td>
        <td>
          {{results.p8q8}}
        </td>
      </tr>

      <tr>
        <td>
          I should have paid more attention in classes. (4)
        </td>
        <td>
          {{results.p8q9}}
        </td>
      </tr>

      <tr>
        <td>
          I should have worked harder on written assignments. (5)
        </td>
        <td>
          {{results.p8q10}}
        </td>
      </tr>

      <tr>
        <td>
          I should have worked with a tutor. (6)
        </td>
        <td>
          {{results.p8q11}}
        </td>
      </tr>

      <tr>
        <td>
          I should have enrolled in a program to improve studying skills.
        </td>
        <td>
          {{results.p8q12}}
        </td>
      </tr>

      <tr>
        <td>
          Do you belong to any student organizations?
        </td>
        <td>
          {{results.p9q1}}
        </td>
      </tr>

      <tr class='ifOrg'>
        <td>
          How many hours per week do you spend doing student organization related services or activities?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q2}}
        </td>
      </tr>

      <tr class='ifOnCampusClass'>
        <td>
          Do you live on or off campus?
        </td>
        <td>
          {{results.p9q3}}
        </td>
      </tr>

      <tr class='ifOnCampus'>
        <td>
          While attending college, do you live away from home?
        </td>
        <td>
          {{results.p9q4}}
        </td>
      </tr>

      <tr class='ifAwayOrIfOnCampus'>
        <td>
          How many times per semester do you go home?  <br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q5}}
        </td>
      </tr>

      <tr>
        <td>
          On average, how many hours per week do you spend partying?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q5}}
        </td>
      </tr>

      <tr>
        <td>
          Do you drink alcoholic beverages?
        </td>
        <td>
          {{results.p9q7}}
        </td>
      </tr>


      <tr class="ifDrink">
        <td>
          On days that you drink, about how many drinks do you consume?  <br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q8}}
        </td>
      </tr>

      <tr>
        <td>
          On average, how many hours of sleep do you get on a weeknight?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q9}}
        </td>
      </tr>

      <tr>
        <td>
          How many days per week do you exercise for at least 15 minutes?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q10}}
        </td>
      </tr>

      <tr>
        <td>
          How many days during the week do you eat a nutritious (e.g., fruits, vegetable, nuts, lean meats etc) meal for breakfast?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q11}}
        </td>
      </tr>

      <tr>
        <td>
          How many days during the week do you eat a nutritious (e.g., fruits, vegetable, nuts, lean meats etc) meal for lunch?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q12}}
        </td>
      </tr>

      <tr>
        <td>
          How many days during the week do you eat a nutritious (e.g., fruits, vegetable, nuts, lean meats etc) meal for dinner?<br>
          (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p9q13}}
        </td>
      </tr>

      <tr>
        <td>
          For the next three items, please indicate, on average, how much time you spend  per day engaged in the  following activities:
        </td>
      </tr>

      <tr>
        <td>
          Social Media (Facebook, Twitter, Instagram…) 
          1. Hours (1) ____________________

          2. Minutes (2) ____________________
        </td>
        <td>
          Hrs: {{results.p10q1}},
          Min: {{results.p10q2}}
        </td>
      </tr>

      <tr>
        <td>
           Entertainment (TV, Games, Movies)
          1. Hours (1) ____________________

          2. Minutes (2) ____________________
        </td>
        <td>
          Hrs: {{results.p10q3}},
          Min: {{results.p10q4}}
        </td>
      </tr>

      <tr>
        <td>
           Personal Communication (Phone calls, Text messages, Emails)
          1. Hours (1) ____________________

          2. Minutes (2) ____________________
        </td>
        <td>
          Hrs: {{results.p10q5}},
          Min: {{results.p10q6}}
        </td>
      </tr>

      <tr>
        <td>
          In your opinion, what are the top three reasons students struggle in college?
          Most Important Reason (1)
          Second Most Important Reason (2)
          Third Most Important Reason (3)
        </td>
        <td>
          {{results.p10q7}}
          {{results.p10q8}}
          {{results.p10q9}}
        </td>
      </tr>

      <tr>
        <td>
           In your opinion, what are the top three reasons students succeed in college?
          Most Important Reason (1)
          Second Most Important Reason (2)
          Third Most Important Reason (3)
        </td>
        <td>
          {{results.p10q10}}
          {{results.p10q11}}
          {{results.p10q12}}
        </td>
      </tr>

      <tr>
        <td>
           What is your age?<br>
           (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p11q1}}
        </td>
      </tr>

      <tr>
        <td>
           What is your gender?
        </td>
        <td>
          {{results.p11q2}}
        </td>
      </tr>

      <tr>
        <td>
           Are you currently employed?
        </td>
        <td>
          {{results.p11q3}}
        </td>
      </tr>

      <tr class='ifWork'>
        <td>
           Do you work on or off campus?
        </td>
        <td>
          {{results.p11q4}}
        </td>
      </tr>

      <tr class='ifWork'>
        <td>
           On average, how many hours per week do you work?<br>
           (-1 for Not Sure, -2 for No Comment)
        </td>
        <td>
          {{results.p11q5}}
        </td>
      </tr>

      <tr class='ifWork'>
        <td>
           Do you work anytime between the hours of 5pm - 12am?
        </td>
        <td>
          {{results.p11q6}}
        </td>
      </tr>

      <tr>
        <td>
           What is the highest level of education completed by your mother?
        </td>
        <td>
          {{results.p11q7}}
        </td>
      </tr>

      <tr>
        <td>
           What is the highest level of education completed by your father?
        </td>
        <td>
          {{results.p11q8}}
        </td>
      </tr>

      <tr>
        <td>
           In general, how would you describe the racial mix of your high school?
        </td>
        <td>
          {{results.p11q9}}
        </td>
      </tr>

      <tr>
        <td>
           Which category best describes your race?
        </td>
        <td>
          {{results.p11q10}}
        </td>
      </tr>

      <tr>
        <td>
           Do you have friends of other ethnic groups?
        </td>
        <td>
          {{results.p11q11}}
        </td>
      </tr>

      <tr class='ifNotGrad'>
        <td>
           Do you receive the Pell grant?
        </td>
        <td>
          {{results.p11q12}}
        </td>
      </tr>

      <tr>
        <td>
           While in high school, did you qualify for or receive free or reduced priced lunch?
        </td>
        <td>
          {{results.p11q13}}
        </td>
      </tr>

      <tr>
        <td>
           In your opinion, did the majority of students in your high school receive free or reduced priced lunch?
        </td>
        <td>
          {{results.p11q14}}
        </td>
      </tr>
    </table>
  </div>
{% endblock %}