<section class='surveys-section'>	
	<div class="row">
	    <div class="col-xs-12">
	        <h2>Surveys Overview</h2>
	    </div>
	</div>
	<form action="" method='post' class='form-horizontal' role='form'>
		{% csrf_token %}
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
				<label for="#survey-select-school">dfg</label>
					<select class="form-control" id='survey-select-school'>
						<option>1</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</section>