<section class='surveys-section'>
	<div class="row">
	    <div class="col-xs-12">
	        <h2>Surveys Overview{% if survey_school_selected %} <small class='school-name'>{{ survey_school_name }} </small>{% endif %}</h2>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<form action='{% url "admin"  %}' method='post' class="form-horizontal survey-school-select-form" role="form">
				{% csrf_token %}
				<div class="form-group">
					<label for="survey_schools_elect" class="col-sm-2 control-label">School:</label>
					<div class="col-sm-6">
						<select name="survey_school_select" id="survey_school_select" class='form-control'>
							<option value="">--</option>
							{% for school in school_list %}
								<option value='{{ school.id }}'>{{ school }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-4">
						<button type="submit" class="btn btn-default btn-block">View Data</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

					</div>
				</div>
			</form>
		</div>
	</div>
  <p>Please select a school from the list</p>
  <script>
    if({% if survey_school_selected %}1{% else %}0{% endif %}) {
      $('#survey_school_select').val({{ survey_school_id }});
    }
  </script>
</section>

