<section class='users-section'>
    <div class="row">
        <div class="col-xs-12">
            <h2>Users</h2>
        </div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
            <h3>Create New Admin</h3>
            {% if register_admin_err_msg %}
    			<div class="alert alert-danger registerAdminUserFormErrors" role="alert">
    				<ul>
    					{% for msg in register_admin_err_msg %}
    						<li><span class='glyphicon glyphicon-asterisk'></span> {% autoescape off %}{{ msg }}{% endautoescape %}</li>
    					{% endfor %}
    				</ul>
    			</div>
    		{% endif %}
            {% if success %}<div class="alert alert-success" role="alert">{{ success }}</div>{% endif %}
            {% if update_admin_success_msg %}<div class="alert alert-success" role="alert">{{ update_admin_success_msg }}</div>{% endif %}
            <form action='{% url "register_admin" %}' method='post' role='form' class='registerAdminUserForm'>
                {% csrf_token %}
                {% for field in registerAdminForm %}
                    {% if field.name == 'email' %}
                        <div class="row">
                            <div class="col-xs-3">
                                <div class='form-group'>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                    {% elif field.name == 'school' %}
                            <div class="col-xs-3">
                                <div class='form-group school-select'>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                <div class="form-group no-margin form-note">
                                    <small>Global Admins are not associated with a school.</small>
                                </div>
                            </div>
                    {% elif field.name == 'tmp_password' %}
                        <div class="col-xs-3">
                            <div class='form-group no-margin'>
                                {{ field.label_tag }}
                                {{ field }}
                                <!-- <span class="help-block">Set a temporary password for admin to use on first login.</span> -->
                            </div>
                        </div>
                    {% elif field.name == 'superuser' %}
                            <div class="col-xs-3 text-left">
                                <div class="form-group pull-down superuser-select">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                <button type='submit' class='btn btn-primary btn-block'>Create Admin</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
           <h3>Global Admins</h3>
           <table class="table table-striped table-condensed users-table global-admins">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Last Logged In</th>
                        <th>Date Created</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in superadmin_list %}    
                        <tr data-user-id="{{ user.id }}">
                            <td class="user_email">{{ user.email }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td class="actions">
                                <a href="#" data-toggle="modal" data-target="#editGlobalAdminUser" class="editAdmin"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" data-toggle="modal" data-target="#deleteAdminUser" class="deleteAdmin"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
           </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           <h3>School Admins</h3>
            <table class="table table-striped table-condensed users-table school-admins">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>School</th>
                        <th>Last Login</th>
                        <th>Date Added</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in schooladmin_list %}
                        <tr data-user-id="{{ user.id }}" data-school-id="{{ user.school_id }}">
                            <td class="user_email">{{ user.email }}</td>
                            <td class="user_school_name">{{ user.school_name }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td class="actions">
                                <a href="#" data-toggle="modal" data-target="#editSchoolAdminUser" class="editAdmin"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" data-toggle="modal" data-target="#deleteAdminUser" class="deleteAdmin"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>