<div class="row">
    <div class="col-xs-12 columns">
        <h2>Users</h2>
    </div>
</div>
<div class="row ">
    <div class='col-xs-12 columns'>
		
	</div>
</div>
<div class="row">
	<div class="col-xs-12 columns">
        <h3>Create New Admin</h3>
        {% if err_msg %}
			<div class="alert alert-danger registerAdminUserFormErrors" role="alert">
				<ul>
					{% for msg in err_msg %}
						<li><span class='glyphicon glyphicon-asterisk'></span> {% autoescape off %}{{ msg }}{% endautoescape %}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if success %}<div class="alert alert-success" role="alert">{{ success }}</div>{% endif %}
        <form action='{% url "register_admin" %}' method='post' role='form' class='registerAdminUserForm'>
            {% csrf_token %}
            {% for field in registerAdminForm %}
                {% if forloop.counter0 == 0 %}
                    <div class="row">
                        <div class="col-xs-4 columns">
                            <div class='form-group'>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                {% elif forloop.counter0 == 1 %}
                    <div class="col-xs-4 columns">
                        <div class='form-group'>
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    </div>
                {% elif forloop.counter0 == 2 %}
                        <div class="col-xs-4 columns">
                            <div class='form-group'>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% elif forloop.counter0 == 3 %}
                    <div class="row">
                        <div class="col-xs-5 columns">
                            <div class='form-group no-margin'>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                {% elif forloop.counter0 == 4 %}
                    <div class="col-xs-4 columns">
                        <div class="form-group text-center pull-down">
                            {{ field.label_tag }}
                            {{ field }}
                            <small style='display:none;'>Global Admins are not associated with a school.</small>
                        </div>
                    </div>
                    <div class="col-xs-3 columns">
                        <button type='submit' class='btn btn-primary pull-right pull-down'>Create User</button>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </form>
    </div>
</div>
<div class='row'>
    <div class="col-xs-12 columns">
       <h3>Global Admins</h3>
       <table class="table table-striped table-condensed users-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Last Logged In</th>
                    <th>Date Created</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in superadmin_list %}    
                    <tr data-user-id="{{ user.id }}">
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td class="actions">
                            <a href="#" data-toggle="modal" data-target="#editAdminUser" class="editAdmin"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" data-toggle="modal" data-target="#deleteAdminUser" class="deleteAdmin"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
       </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 columns">
       <h3>School Admins</h3>
       <table class="table table-striped table-condensed users-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>School</th>
                    <th>Last Login</th>
                    <th>Date Added</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in schooladmin_list %}
                    <tr data-user-id="{{ user.id }}">
                        <td>{{ user.email }}</td>
                        <td>{{ user.school }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td class="actions">
                            <a href="#" data-toggle="modal" data-target="#editAdminUser" class="editAdmin"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" data-toggle="modal" data-target="#deleteAdminUser" class="deleteAdmin"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
       </table>
    </div>
</div>