{% extends 'base.html' %}

{% block body %}
  <div class="col-sm-3 col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li {% if not err_msg %}class="active"{% endif %}>
        <a href="#home" role="tab" data-toggle="pill">Home</a>
      </li>
      <li>
        <a href="#survey" role="tab" data-toggle="pill">Take Survey</a>
      </li>
      <li {% if err_msg %}class="active"{% endif %}>
        <!-- <a href="{% url 'login_view' %}">Admin Login</a> -->
        <a href="#login" role="tab" data-toggle="pill">Admin Login</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9 col-md-9 tab-content">
    <div class="tab-pane home {% if not err_msg %}active{% endif %}" id="home">1</div>
    <div class="tab-pane survey" id="survey">{% include 'survey_login.html' %}</div>
    <div class="tab-pane login {% if err_msg %}active{% endif %}" id="login">{% include 'admin_custom/login.html' %}</div>
  </div>
{% endblock %}


{% block tab_script %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>
  <script>
    $('.nav li a').click(function() {
      $(this).tab('show');
    });
  </script>
{% endblock %}