{% extends 'sba3/questions.html' %}
{% block table_body %}
  <tr>
    <td>
      For the next three items, please indicate, on average, how much time you spend  per day engaged in the  following activities:
    </td>
  </tr>

  <tr>
    <td>
      Social Media (Facebook, Twitter, Instagram…)
    </td>
    <td> 
        H:<input name='p10[]' id='p10q1' type='number' min='-2' max='24' class="form-control">
        M:<input name='p10[]' id='p10q2' type='number' min='-2' max='59' class="form-control">
    </td>
  </tr>

  <tr>
    <td>
       Entertainment (TV, Games, Movies)
    </td>
    <td> 
        H:<input name='p10[]' id='p10q3' type='number' min='-2' max='24' class="form-control">
        M:<input name='p10[]' id='p10q4' type='number' min='-2' max='59' class="form-control">
    </td>
  </tr>
  <tr>
    <td>
       Personal Communication (Phone calls, Text messages, Emails)
    </td>
    <td> 
        H:<input name='p10[]' id='p10q5' type='number' min='-2' max='24' class="form-control">
        M:<input name='p10[]' id='p10q6' type='number' min='-2' max='59' class="form-control">
    </td>
  </tr>

  <tr>
    <td>
       In your opinion, what are the top three reasons students struggle in college?
      Most Important Reason:<input name='p10[]' id='p10q7' type='text'>
      Second Most Important Reason:<input name='p10[]' id='p10q8' type='text'>
      Third Most Important Reason:<input name='p10[]' id='p10q9' type='text'>
    </td>
  </tr>

  <tr>
    <td>
       In your opinion, what are the top three reasons students succeed in college?
      Most Important Reason:<input name='p10[]' id='p10q10' type='text'>
      Second Most Important Reason:<input name='p10[]' id='p10q11' type='text'>
      Third Most Important Reason:<input name='p10[]' id='p10q12' type='text'>
    </td>
  </tr>
{% endblock %}