{% extends "admin_custom/admin_custom_base.html" %}
{% load bootstrap3 %}

{% block admin_main_content %}
  {% if not request.user.is_superuser %}
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'admin_school_overview' request.user.school.id %}" class="btn btn-default btn-sm">
          {% bootstrap_icon 'arrow-left' %}&emsp;BACK TO SCHOOL OVERVIEW
        </a>
      </div>
    </div>
    <hr>
  {% endif %}
  <div class="row">
    <div class="col-xs-12">
      {% bootstrap_messages %}
      <h2 class="text-center">Edit Account Information</h2>
        <form action="{% url 'admin_edit_account' %}" method="post"
          class="edit_admin_account_form">
          {% csrf_token %}
          {% bootstrap_form edit_account_email_form %}
          {% bootstrap_form edit_account_password_form %}
          {% buttons %}
            <div class="text-center">
              <button type="submit" class="btn btn-success">
                UPDATE ACCOUNT
              </button>
            </div>
          {% endbuttons %}
        </form>
    </div>
  </div>
{% endblock %}


{% block admin_main_content_js %}
  <script>
    $(document).ready(function() {
      $pwd = $('#id_password');
      $conf_pwd = $('#id_confirm_password');

      $('#id_change_password').change(function(e) {
        $tgt = $(e.currentTarget);
        if($tgt.is(':checked')) {
          $pwd.attr('required', 'required').removeAttr('disabled');
          $conf_pwd.attr('required', 'required').removeAttr('disabled');
        } else {
          $pwd.attr('disabled', '').removeAttr('required');
          $conf_pwd.attr('disabled', '').removeAttr('required');
        }
      });

      {% if update_password_error %}
        $('#id_change_password').prop('checked', true);
        $pwd.removeAttr('disabled').attr('required', 'required');
        $conf_pwd.removeAttr('disabled').attr('required', 'required');
        $pwd.closest('.form-group').addClass('has-error');
        $conf_pwd.closest('.form-group').addClass('has-error');
      {% endif %}
    });
  </script>
{% endblock %}