<!-- TEST -->
{% if update_admin_err_msg %}
<script>
	var user_row, user_id, user_email, user_school_id, user_school_name, update_admin_err_id;
	update_admin_err_id = {{ update_admin_err_id }};
	user_row = $('.users-table tr[data-user-id='+update_admin_err_id+']');
	user_id = user_row.attr('data-user-id');
	user_email = user_row.find('.user_email').html();
	user_school_id = user_row.attr('data-school-id');
	user_school_name = user_row.find('.user_school_name').html();
	$('.modal .modal-title small').html(user_row.find('.user_email').html());
	$('.editGlobalAdminUser form, .editSchoolAdminUser form').attr('action', '/admin/updateadmin/'+user_id);
	if(user_school_name === undefined) {
		$('#editGlobalAdminUser').modal('show');
	} else {
		$('#editSchoolAdminUser').modal('show');
	}
	// is global admin
	if(user_school_name === undefined) {
		$('#id_edit_globaladmin_email').val(user_email);
	} else { // is school admin
		$('#id_edit_schooladmin_email').val(user_email);
		$('#id_edit_schooladmin_school').val(user_school_id);
	}
</script>
{% endif %}