{% extends "admin_custom/admin_custom_base.html" %}

{% block header %}
  <header>
    <div class="container">
      <div class="row page-header">
        <div class="col-xs-6">
          <h1>SBA-3</h1>
        </div>
        <div class="col-xs-5 text-right">
          <span class="logout text-muted" style="display:inline-block; padding-bottom: 3px; border-bottom: 2px solid #cccccc;">{{ currentUserEmail }}</span>
        </div>
        <div class="col-xs-1 text-right">
          <a href="{% url 'logout_view' %}" class="btn btn-default btn-sm logout">Log Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block survey_school_page %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'manage_roster' school_id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Go Back
        </a>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <h1><small>Survey Results for:</small> {{ user_id }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center"> Survey Results Not Found </h3>
      </div>
    </div>
  </div>
{% endblock %}