{% extends "admin_custom/admin_custom_base.html" %}
{% load bootstrap3 %}

{% block admin_main_content %}
  {% if request.user.is_superuser %}
    <div class="row">
      <div class="col-xs-12">
        <a href="{% url 'superadmin_overview' %}" class="btn btn-default btn-sm">
          {% bootstrap_icon 'arrow-left' %} BACK TO SELECT SCHOOL
        </a>
      </div>
    </div>
    <hr>
  {% endif %}
  {% bootstrap_messages %}
  <div class="row">
    <div class="col-xs-12">
      <h2 class="admin-main-title">{{ admin_main_title }}</h2>
      {% if select_survey_year_form %}
        <form action="{% url 'admin_select_survey_year' school_id %}" method="POST"
          class="form-inline select-survey-year-form">
          <div class="wrap">
            {% csrf_token %}
            {% bootstrap_form select_survey_year_form %}
            {% buttons %}
              <button class="btn btn-primary btn-block btn-xs" type="submit">
                Change Survey Year
              </button>
            {% endbuttons %}
          </div>
        </form>
      {% endif %}
      {% if no_surveys_error %}
        <p class="bg-warning pull-right">{{ no_surveys_error }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Add Students</h3>
      <div class="add-students-forms bg-gray">
        <div class="row">
          <div class="col-xs-6">
            <h4><strong>Upload .csv File</strong> <span class="text-muted">(bulk add students)</span></h4>
            <h5>File Format</h5>
            <p>Please upload a <code>.csv</code> file. Please include the following information for each student in the given order:</p>
            <ul>
              <li>Student Identifier/Username</li>
              <li>Student Email Address</li>
            </ul>
            <p>Example file format:</p>
<pre>
<code>
abc123,abc123@school.edu
xyz987,xyz987@school.edu
...
</code>
</pre>
            <p><a href="/static/example.csv">Download sample .csv file</a></p>
            <hr>
            <form action="{% url 'admin_add_students_bulk' school_id %}" method="POST"
              class="form-inline" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form add_students_bulk_form %}
              {% buttons %}
                <button class="btn btn-primary btn-block btn-xs" type="submit">
                  {% bootstrap_icon 'upload' %} UPLOAD
                </button>
              {% endbuttons %}
            </form>
          </div>
          <div class="col-xs-6">
            <h4><strong>Add Single Student</strong></span></h4>
            <form action="{% url 'admin_add_student_single' school_id %}" method="POST"
              class="form" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form add_student_single_form %}
              {% buttons %}
                <button class="btn btn-primary btn-block btn-xs" type="submit">
                  {% bootstrap_icon 'plus' %} ADD
                </button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}