{% extends "admin_custom/admin_custom_base.html" %}
{% load bootstrap3 %}

{% block admin_main_content %}
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Superadmin Panel</h2>
      <h4 class="text-center"><span class="text-muted">{{admin_email}}</span></h4>
    </div>
  </div>
  <hr>
  {% if not update_admin_error %}
    {% bootstrap_messages %}
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2 class="h4 no-margin-top">Create a New Administrator</h2>
      <div class="side-form-wrapper">
        <form action="{% url 'superadmin_create_admin' %}" method="post" class="form" role="form">
          {% csrf_token %}
          {% bootstrap_form superadmin_create_admin_form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
              CREATE ADMINISTRATOR
            </button>
          {% endbuttons %}
        </form>
      </div>
      <h2 class="h4 no-margin-top">Create a New School</h2>
      <div class="side-form-wrapper">
        <form action="{% url 'superadmin_create_school' %}" method="post" class="form" role="form">
          {% csrf_token %}
          {% bootstrap_form superadmin_create_school_form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
              CREATE SCHOOL
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="clearfix">
        <h3 class="h4 text-bold pull-left"><strong>Please select a school for which view data:&emsp;</strong></h3>
        <form action="{% url 'superadmin_overview' %}" method="post"
          class="form-inline pull-left" role="form">
          {% csrf_token %}
          {% bootstrap_form superadmin_select_school_form %}
          {% buttons %}
            <button type="submit" class="btn btn-success btn-block">
              VIEW DATA
            </button>
          {% endbuttons %}
        </form>
      </div>
      <hr>
      <h2 class="h3 no-margin-top">Administrators</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td><b>Email</b></td>
            <td><b>School</b></td>
            <td><b>Is Superuser?</b></td>
            <td><b>Date Joined</b></td>
            <td><b>Last Login</b></td>
            <td style="min-width:75px;"><b>Actions</b></td>
          </tr>
        </thead>
        <tbody>
          {% for admin in admins_list %}
            <tr data-school-id="{{admin.school.id}}" data-admin-id="{{admin.id}}">
              <td>{{admin.email}}</td>
              <td>
                {% if admin.school %}
                  {{admin.school}}
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>{{admin.is_superuser}}</td>
              <td>{{admin.date_joined}}</td>
              <td>{{admin.last_login}}</td>
              <td style="min-width:75px;">
                <span data-placement="top" title="Edit Admin Info" data-toggle="tooltip">
                  <button class="btn btn-primary btn-xs edit-admin-modal-btn"
                    data-toggle="modal" data-target="#edit-admin-modal">
                    {% bootstrap_icon 'pencil' %}
                  </button>
                </span>
                {% if admin.id != request.user.id %}
                  <a href="{% url 'superadmin_delete_admin' admin.id %}"
                     class="btn btn-danger btn-xs" data-toggle="tooltip"
                     data-placement="top" title="Delete Admin">
                      {% bootstrap_icon 'remove' %}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      <h2 class="h3 no-margin-top">Schools</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td><b>School</b></td>
            <td><b>Location</b></td>
            <td><b>Survey Title</b></td>
            <td><b>Date Added</b></td>
            <td style="min-width:100px;"><b>Actions</b></td>
          </tr>
        </thead>
        <tbody>
          {% for school in schools_list %}
            <tr data-school-id="{{school.id}}">
              <td>{{school.name}}</td>
              <td>{{school.location}}</td>
              <td>
                {% if school.survey_title %}
                  "{{school.survey_title}}"
                {% else %}
                  <em>Not Set</em>
                {% endif %}</td>
              <td>{{school.date_created}}</td>
              <td style="min-width:100px;">
                <a href="{% url 'admin_school_overview' school.id %}"
                   class="btn btn-default btn-xs" data-toggle="tooltip"
                   data-placement="top" title="View School Results">
                    {% bootstrap_icon 'eye-open' %}
                </a>
                <span data-placement="top" title="Edit School Info" data-toggle="tooltip">
                  <button class="btn btn-primary btn-xs edit-school-modal-btn"
                    data-toggle="modal" data-target="#edit-school-modal">
                    {% bootstrap_icon 'pencil' %}
                  </button>
                </span>
                <a href="{% url 'superadmin_delete_school' school.id %}"
                   class="btn btn-danger btn-xs" data-toggle="tooltip"
                   data-placement="top" title="Delete School">
                    {% bootstrap_icon 'remove' %}
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">There aren't any schools. Please add one by using the form to the left.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block admin_main_content_js %}
<script>
  $(document).ready(function() {
    var $pwd_input, $pwd_confirm, $select;
    $pwd_input = $('#id_edit_admin_password_modal');
    $pwd_confirm = $('#id_admin_confirm_password_modal');
    $pwd_input.closest('.form-group').css('opacity', 0.25);
    $pwd_confirm.closest('.form-group').css('opacity', 0.25);
    $select = $('#id_admin_school');
    $('[data-toggle="tooltip"]').tooltip();
    $('#id_is_superuser').click(function(e) {
      if($(e.currentTarget).is(':checked')) {
        $select.attr('disabled', 'disabled');
        $select.prop('required', false);
        $('#id_admin_school').closest('.form-group').animate({
          'opacity': 0.25
        }, 300);
      } else {
        $select.prop('disabled', false);
        $select.prop('required', true);
        $('#id_admin_school').closest('.form-group').animate({
          'opacity': 1
        }, 300);
      }
    });

    {% if update_admin_error %}
      $('#edit-admin-modal').modal('show');
      $('#id_edit_admin_email_modal').val('{{update_admin_error_email}}');
      $('.modal-title-admin-name').text('{{update_admin_error_email}}')
      $('#superadmin_edit_admin_form').attr('action', '/admin/edit-admin/{{update_admin_error_admin_id}}');
      {% if update_admin_error_is_superuser %}
        $('#id_edit_admin_is_superuser_modal').prop('checked', true);
        $('#id_edit_admin_school_modal').closest('.form-group').css('opacity', 0.25);
        $('#id_edit_admin_school_modal').removeAttr('required').attr('disabled','');
      {% else %}
        $('#id_edit_admin_school_modal option[value="{{update_admin_error_school}}"]').prop('selected', true);
        $('#id_edit_admin_school_modal option[selected]').removeAttr('selected');
      {% endif %}
    {% endif %}
  });
</script>
{% endblock %}

{% block admin_modals_content %}
  <div class="modal fade" id="edit-admin-modal" tabindex="-1" role="dialog"
    aria-labelledby="Edit Administrator Information" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form action="{% url 'superadmin_edit_admin' 0 %}" method="post"
          id="superadmin_edit_admin_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <strong>Edit Admin:</strong> <span class="modal-title-admin-name"></span>
            </h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            {% if update_admin_error %}
              {% bootstrap_messages %}
            {% endif %}
            {% bootstrap_form superadmin_edit_admin_form %}
          </div>
          <div class="modal-footer">
            {% buttons %}
              <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-success">
                  UPDATE ADMIN
                </button>
              </div>
            {% endbuttons %}
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="edit-school-modal" tabindex="-1" role="dialog"
    aria-labelledby="Edit School Information" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form action="{% url 'superadmin_edit_school' 0 %}" method="post"
          id="superadmin_edit_school_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <strong>Edit School:</strong> <span class="modal-title-school-name"></span>
            </h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            {% if update_admin_error %}
              {% bootstrap_messages %}
            {% endif %}
            {% bootstrap_form superadmin_edit_school_form %}
          </div>
          <div class="modal-footer">
            {% buttons %}
              <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-success">
                  UPDATE SCHOOL
                </button>
              </div>
            {% endbuttons %}
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block admin_modals_js %}
  <script>
    $('.edit-admin-modal-btn').click(function(e) {
      var $row, email, admin_id, school_id, $pwd_row, $school_select;
      $row = $(e.currentTarget).closest('tr');
      admin_id = $row.attr('data-admin-id');
      school_id = $row.attr('data-school-id');
      $school_select = $('#id_edit_admin_school_modal');
      email = $row.find('td')[0].innerText;
      $('#superadmin_edit_admin_form').attr('action', '/admin/edit-admin/'+admin_id);
      if($row.find('td')[2].innerText == 'True') {
        $('#id_edit_admin_is_superuser_modal').prop('checked',true);
        $school_select.attr('disabled', '');
        $school_select.closest('.form-group').css('opacity', 0.25);
        $school_select.removeAttr('required');
      } else {
        $('#id_edit_admin_is_superuser_modal').prop('checked',false);
        $school_select.removeAttr('disabled');
        $school_select.closest('.form-group').css('opacity', 1);
        $school_select.attr('required', 'required');
      }
      $('.modal-title-admin-name').text(email);
      $('#edit-admin-modal #id_edit_admin_email_modal').val(email);
      $('#edit-admin-modal option[selected]').removeAttr('selected');
      $('#edit-admin-modal option[value="'+school_id+'"]').attr('selected', 'selected');
    });
    $('#id_change_password').click(function(e) {
      var $tgt, $pwd_input, $pwd_confirm;
      $tgt = $(e.currentTarget);
      $pwd_input = $('#id_edit_admin_password_modal');
      $pwd_confirm = $('#id_admin_confirm_password_modal');
      if($tgt.is(':checked')) {
        $pwd_input.closest('.form-group').animate({'opacity': 1}, 300);
        $pwd_confirm.closest('.form-group').animate({'opacity': 1}, 300);
        $pwd_input.removeAttr('disabled').removeAttr('required');
        $pwd_confirm.removeAttr('disabled').removeAttr('required');
      } else {
        $pwd_input.closest('.form-group').animate({'opacity': 0.25}, 300);
        $pwd_confirm.closest('.form-group').animate({'opacity': 0.25}, 300);
        $pwd_input.attr('disabled', '').attr('required', 'required');
        $pwd_confirm.attr('disabled', '').attr('required', 'required');
        $pwd_input.val('');
        $pwd_confirm.val('');
      }
    });
    $('#id_edit_admin_is_superuser_modal').click(function(e) {
      var $tgt, $school_select;
      $tgt = $(e.currentTarget);
      $school_select = $('#id_edit_admin_school_modal');
      if($tgt.is(':checked')) {
        $school_select.closest('.form-group').animate({'opacity': 0.25}, 300);
        $school_select.attr('disabled', '').attr('required', 'required');
        $school_select.find('option').removeAttr('selected');
      } else {
        $school_select.closest('.form-group').animate({'opacity': 1}, 300);
        $school_select.removeAttr('disabled').removeAttr('required');
        $($school_select.find('option')[0]).attr('selected');
      }
    });
    $('.edit-school-modal-btn').click(function(e) {
      var $row, name, location, survey_title, school_id;
      $row = $(e.currentTarget).closest('tr');
      school_id = $row.attr('data-school-id');
      name = $row.find('td')[0].innerText;
      location = $row.find('td')[1].innerText;
      if($row.find('td')[2].innerText == "Not Set") {
        survey_title = '';
      } else {
        var txt = $row.find('td')[2].innerText;
        survey_title = txt.substring(1,txt.length-1);
      }
      console.log('name', name);
      $('#superadmin_edit_school_form').attr('action', '/admin/edit-school/'+school_id);
      $('.modal-title-school-name').text(name);
      $('#edit-school-modal #id_school_name_modal').val(name);
      $('#edit-school-modal #id_school_location_modal').val(location);
      $('#edit-school-modal #id_school_survey_title_modal').val(survey_title);
    });
  </script>
{% endblock %}