{% extends 'sba3/questions.html' %}
  {% block fill_vals_script %}
    {{ block.super }}
    <script>
      $('document').ready(function() {
        $('#p2q1').val('{{request.session.p2.0}}');
        $('#p2q2').val('{{request.session.p2.1}}');
        $('#p2q3').val('{{request.session.p2.2}}');
        $('#p2q4').val('{{request.session.p2.3}}');
        $('#p2q5').val('{{request.session.p2.4}}');
        $('#p2q6').val('{{request.session.p2.5}}');
        $('#p2q7').val('{{request.session.p2.6}}');
        $('#p2q8').val('{{request.session.p2.7}}');
        $('#p2q9').val('{{request.session.p2.8}}');
        $('#p2q10').val('{{request.session.p2.9}}');
        $('#p2q11').val('{{request.session.p2.10}}');
      });
    </script>
  {% endblock %}

{% block table_body %}
  <tr>
    <td>
      While growing up, did you have a mentor?
    </td>
    <td>
      <select name='p2[]' id='p2q1'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you have a mentor now?
    </td>
    <td>
      <select name='p2[]' id='p2q2'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      Do you see role models on campus?
    </td>
    <td>
      <select name='p2[]' id='p2q3'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
      How would you rate your time management skills?
    </td>
    <td>
      <select name='p2[]' id='p2q4'>
        ('poor', 'Poor'),
        ('belowaverage', 'Below Average'),
        ('average', 'Average'),
        ('aboveaverage', 'Above Average'),
        ('excellent', 'Excellent'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you routinely use a calendar or daily planner (paper or digital)?
    </td>
    <td>
      <select name='p2[]' id='p2q5'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      Do you review your class notes after class?
    </td>
    <td>
      <select name='p2[]' id='p2q6'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
       In general, do you study for tests by yourself?
    </td>
    <td>
      <select name='p2[]' id='p2q7'>
        ('yes', 'Yes'),
        ('no', 'No'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Select the type of learning style that describes you best:
    </td>
    <td>
      <select name='p2[]' id='p2q8'>
        ('visual', 'Visual (Seeing)'),
        ('auditory', 'Auditory (Hearing)'),
        ('kinsethetics', 'Kinesthetics (Hands-on)'),
        ('notsure', 'Not Sure'),
        ('nocomment', 'No Comment'),
      </select>
    </td>
  </tr>

  <tr>
    <td>
      On average, how many hours per DAY do you spend studying?<br>
      (-1 for Not Sure, -2 for No Comment)
    </td>
    <td>
      <input name='p2[]' id='p2q9' type='number' min='-2' max='24'>
    </td>
  </tr>

  <tr>
    <td>
      On average how many days in advance do you begin studying for upcoming exams?<br>
      (-1 for Not Sure, -2 for No Comment)
    </td>
    <td>
      <input name='p2[]' id='p2q10' type='number' min='-2' max='200'>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      In general, how many class sessions do you miss over the course of a semester?<br>
      (-1 for Not Sure, -2 for No Comment)
    </td>
    <td>
      <input name='p2[]' id='p2q11' type='number' min='-2' max='200'>
    </td>
  </tr>
{% endblock %}