{% extends 'questions.html' %}
  {% block fill_vals_script %}
    {{ block.super }}
    <script>
      $('document').ready(function() {
        $('#p7q1').val('{{request.session.p7.0}}');
        $('#p7q2').val('{{request.session.p7.1}}');
        $('#p7q3').val('{{request.session.p7.2}}');
        $('#p7q4').val('{{request.session.p7.3}}');
        $('#p7q5').val('{{request.session.p7.4}}');
        $('#p7q6').val('{{request.session.p7.5}}');
        $('#p7q7').val('{{request.session.p7.6}}');
        $('#p7q8').val('{{request.session.p7.7}}');
        $('#p7q9').val('{{request.session.p7.8}}');
      });
    </script>
  {% endblock %}

  {% block table_body %}
    <tr>
      <td>
        What Letter Grade do YOU expect to make at MSU?
      </td>
      <td>
        <select name='p7[]' id='p7q1'>
          <option value=''>----</option>
          <option value='a'>A</option>
          <option value='b'>B</option>
          <option value='c'>C</option>
          <option value='d'>D</option>
          <option value='f'>F</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>   
    </tr>

    <tr class='ifNotGrad'>
      <td>
        What Letter Grade do your PARENT(S)/ GUARDIAN(S) expect you to make at MSU?
      </td>
      <td>
        <select name='p7[]' id='p7q2'>
          <option value=''>----</option>
          <option value='a'>A</option>
          <option value='b'>B</option>
          <option value='c'>C</option>
          <option value='d'>D</option>
          <option value='f'>F</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>   
    </tr>

    <tr>
      <td>
        What Letter Grade do your TEACHERS/ PROFESSORS expect you to make at MSU?
      </td>
      <td>
        <select name='p7[]' id='p7q3'>
          <option value=''>----</option>
          <option value='a'>A</option>
          <option value='b'>B</option>
          <option value='c'>C</option>
          <option value='d'>D</option>
          <option value='f'>F</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>   
    </tr>

    <tr>
      <td>
        What Letter Grade do your CLOSE FRIENDS expect you to make at MSU?
      </td>
      <td>
        <select name='p7[]' id='p7q4'>
          <option value=''>----</option>
          <option value='a'>A</option>
          <option value='b'>B</option>
          <option value='c'>C</option>
          <option value='d'>D</option>
          <option value='f'>F</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>   
    </tr>

    <tr>
      <td>
        What Letter Grade do your BROTHER(S)/ SISTER(S) expect you to make at MSU?
      </td>
      <td>
        <select name='p7[]' id='p7q5'>
          <option value=''>----</option>
          <option value='a'>A</option>
          <option value='b'>B</option>
          <option value='c'>C</option>
          <option value='d'>D</option>
          <option value='f'>F</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>   
    </tr>

    <tr>
      <td>
        What was your highest ACT Score?<br>
        (-1 for Not Sure, -2 for No Comment)
      </td>
      <td>
        <input name='p7[]' id='p7q6' type='number' min='-2' max='36'>
      </td>
    </tr>

    <tr>
       <td>
        What was your overall grade point average (GPA) in High School?<br>
        (-1 for Not Sure, -2 for No Comment)
      </td>
      <td>
        <input name='p7[]' id='p7q7' type='number' min='-2' max='5'>
      </td>
    </tr>
    <tr>
      <td>
        What was your overall grade point average (GPA) in College?<br>
        (-1 for Not Sure, -2 for No Comment)
      <td>
        <input name='p7[]' id='p7q8' type='number' min='-2' max='5'>
      </td>
    </tr>

    <tr class='ifNotGrad'>
      <td>
        How many on-line classes have you completed with a grade of less than "C" at MSU?<br>
        (-1 for Not Sure, -2 for No Comment)
      </td>
      <td>
        <input name='p7[]' id='p7q9' type='number' min='-2' max='50'>
      </td>
    </tr>
  {% endblock %}