{% extends 'base.html' %}
  {% block script %}
    <script>
      $('document').ready(function() {
        $('#p4q1').val('{{request.session.p4.0}}');
        $('#p4q2').val('{{request.session.p4.1}}');
        $('#p4q3').val('{{request.session.p4.2}}');
        $('#p4q4').val('{{request.session.p4.3}}');
        $('#p4q5').val('{{request.session.p4.4}}');
        $('#p4q6').val('{{request.session.p4.5}}');
        $('#p4q7').val('{{request.session.p4.6}}');
        $('#p4q8').val('{{request.session.p4.7}}');
        $('#p4q9').val('{{request.session.p4.8}}');
        $('#p4q10').val('{{request.session.p4.9}}');
        $('#p4q11').val('{{request.session.p4.10}}');
      });
    </script>
  {% endblock %}

  {% block body %}
    <tr>
      <td>
        Do you visit your professors on a regular basis? (1)
      </td>
      <td>
        <select name='p4[]' id='p4q1'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr class='ifOnCampusClass'>
      <td>
        Do you regularly ask questions in class? (2)
      </td>
      <td>
        <select name='p4[]' id='p4q2'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr class='ifOnCampusClass'>
      <td>
        Do your professors ask you questions during class? (3)
      </td>
      <td>
        <select name='p4[]' id='p4q3'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

     <tr class='ifOnCampusClass'>
      <td>
        Do you take complete class notes? (4)
      </td>
      <td>
        <select name='p4[]' id='p4q4'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        Do you have a study group? (5)
      </td>
      <td>
        <select name='p4[]' id='p4q5'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        Do you own a personal computer? (6)
      </td>
      <td>
        <select name='p4[]' id='p4q6'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        Do you have consistent access to broadband Internet? (7)
      </td>
      <td>
        <select name='p4[]' id='p4q7'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        Do you use the Internet to complete assignments? (8)
      </td>
      <td>
        <select name='p4[]' id='p4q8'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr class='ifOnCampusClass'>
      <td>
        Do you usually have all of the required books and materials by the second class meeting? (9)
      </td>
      <td>
        <select name='p4[]' id='p4q9'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr class='ifOnCampusClass'>
      <td>
        When professors ask questions, are you typically among the first to raise your hand? (10)
      </td>
      <td>
        <select name='p4[]' id='p4q10'>
          <option value=''>----</option>
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No Comment</option>
        </select>
      </td>
    </tr>

    <tr class='ifOnCampusClass'>
      <td>
        In a typical classroom, where do you usually sit when seating is not assigned?
      </td>
      <td>
        <select name='p4[]' id='p4q11'>
          <option value=''>----</option>
          <option value='front'>Near the front</option>
          <option value='middle'>Middle</option>
          <option value='back'>Near the back</option>
          <option value='notsure'>Not Sure</option>
          <option value='nocomment'>No comment</option>
        </select>
      </td>
    </tr>
  {% endblock %}