{% extends 'base.html' %}
{% block body %}
  <tr>
    <td>
      Do you visit your professors on a regular basis? (1)
    </td>
    <td>
      <select name='p4q1'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      Do you regularly ask questions in class? (2)
    </td>
    <td>
      <select name='p4q2'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      Do your professors ask you questions during class? (3)
    </td>
    <td>
      <select name='p4q3'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

   <tr class='ifOnCampusClass'>
    <td>
      Do you take complete class notes? (4)
    </td>
    <td>
      <select name='p4q4'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you have a study group? (5)
    </td>
    <td>
      <select name='p4q5'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you own a personal computer? (6)
    </td>
    <td>
      <select name='p4q6'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you have consistent access to broadband Internet? (7)
    </td>
    <td>
      <select name='p4q7'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Do you use the Internet to complete assignments? (8)
    </td>
    <td>
      <select name='p4q8'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      Do you usually have all of the required books and materials by the second class meeting? (9)
    </td>
    <td>
      <select name='p4q9'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      When professors ask questions, are you typically among the first to raise your hand? (10)
    </td>
    <td>
      <select name='p4q10'>
        <option value=''>----</option>
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
        <option value='notsure'>Not Sure</option>
        <option value='nocomment'>No Comment</option>
      </select>
    </td>
  </tr>

  <tr class='ifOnCampusClass'>
    <td>
      In a typical classroom, where do you usually sit when seating is not assigned?
    </td>
    <td>
      <select name='p4q11'>
        <option value=''>----</option>
        <option value=''>Near the front</option>
        <option value=''>Middle</option>
        <option value=''>Near the back</option>
        <option value=''>Not Sure</option>
        <option value=''>No comment</option>
      </select>
    </td>
  </tr>
{% endblock %}