{% extends 'base.html' %}
{% block body %}
  <tr>
    <td>
      For the next three items, please indicate, on average, how much time you spend  per day engaged in the  following activities:
    </td>
  </tr>

  <tr>
    <td>
      Social Media (Facebook, Twitter, Instagram…) 
      1. Hours (1) ____________________

      2. Minutes (2) ____________________
    </td>
  </tr>

  <tr>
    <td>
       Entertainment (TV, Games, Movies)
      1. Hours (1) ____________________

      2. Minutes (2) ____________________
    </td>
  </tr>
  <tr>
    <td>
       Personal Communication (Phone calls, Text messages, Emails)
      1. Hours (1) ____________________

      2. Minutes (2) ____________________
    </td>
  </tr>

  <tr>
    <td>
       In your opinion, what are the top three reasons students struggle in college?
      Most Important Reason (1)
      Second Most Important Reason (2)
      Third Most Important Reason (3)
    </td>
  </tr>

  <tr>
    <td>
       In your opinion, what are the top three reasons students succeed in college?
      Most Important Reason (1)
      Second Most Important Reason (2)
      Third Most Important Reason (3)
    </td>
  </tr>
{% endblock %}