{% extends 'base.html' %}

{% block header_script %}
  <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  <script>
  $('document').ready(function() {
    $('.prev').click(function() {
      $('form').attr('action', '{% url "previous"%}');
    });
    $('.next').click(function() {
      $('form').attr('action', '{% url "next"%}');
    });
    $('.submit').click(function(e) {
      $('form').attr('action', '{% url "submit"%}');
    });
  });
  </script>
  {% include 'script.html' %}
{% endblock %}

{% block body %}
  {% if error %}
      <p class="error">Please fill in all fields </p>
  {% endif %}
  <form method='post'>
    {% csrf_token %}
    <input type='hidden' name='pagenum' value='{{ pagenum }}'>
    <table class="table table-hover">
      {% block table_body %}
      {% endblock %}
    </table>
    <div class="container-fluid">
      {% if pagenum != "1" %}
        <div class="row">
          <div class="col-xs-6 text-right">
            <input type='submit' class='btn prev' value='Previous'>
          </div>
          <div class="col-xs-6 text-left">
            {% if pagenum == "11" %}
              <input type='submit' class='btn submit' value='Submit'>
            {% else %}
              <input type='submit' class='btn next' value='Next'>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-xs-12 text-center">
            <input type='submit' class='btn next' value='Next'>
          </div>
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block footer_script %}
  <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"><\/script>')</script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type='text/javascript' src='{{STATIC_URL}}js/skiplogic.js'></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
{% endblock %}