<script>
  $('document').ready(function() {
    // session check
    // classification
    if( '{{request.session.p1.0}}' == 'master' || '{{request.session.p1.0}}' == 'doctorate' ) {
      $('.ifNotGrad').css('background', 'red'); //.hide();
      $('.ifNotGrad select option:first-child').val('NA');
    }
    // isDistance
    if('{{request.session.p1.3}}' != 'yes') {
      $('.ifDistance').css('background', 'red'); //.hide();
    }
    // isOnCampusClass
    if('{{request.session.p1.4}}' != 'yes') {
      $('.ifOnCampusClass').css('background', 'red'); //.hide();
      $('.ifOnCampusClass select option:first-child').val('NA');
    }
    // isTutoring
    if('{{request.session.p3.0}}' == 'yes') {
      $('.ifTutoring').css('background', 'white'); //.show();
      $('.ifNotTutoring').css('background', 'red'); //.hide();
    } else {
      $('.ifTutoring').css('background', 'red'); //.hide();
      $('.ifNotTutoring').css('background', 'white'); //.show();
    }
    // didOrientation
    if('{{request.session.p8.0}}' != 'yes') {
      $('.ifOrientation').css('background', 'red'); //.hide();
    }
    // isOrg
    if('{{request.session.p9.0}}' != 'yes') {
      $('.ifOrg').css('background', 'red'); //.hide();
    }
    // isOnCampus
    if('{{request.session.p9.2}}' == 'on') {
      $('.ifOnCampus').css('background', 'red'); //.hide();
      $('.ifNotOnCampus').css('background', 'white'); //.show();
    } else {
      $('.ifOnCampus').css('background', 'white'); //.show();
      $('.ifNotOnCampus').css('background', 'red'); //.hide();
    }
    if('{{request.session.p9.2}}' == 'on' || $('#isAway').val() == 'yes')  {
      $('.ifAwayOrIfOnCampus').css('background', 'white'); //.show();
    } else {
      $('.ifAwayOrIfOnCampus').css('background', 'red'); //.hide();
    }
    // isAway
    if('{{request.session.p9.3}}' == 'no') {
      $('.ifAway').css('background', 'red'); //.hide();
    } else {
      $('.ifAway').css('background', 'white'); //.show();
    }
    if('{{request.session.p9.3}}' == 'yes' || $('#isOnCampus').val() == 'on')  {
      $('.ifAwayOrIfOnCampus').css('background', 'white'); //.show();
    } else {
      $('.ifAwayOrIfOnCampus').css('background', 'red'); //.hide();
    }
    // doesDrink
    if('{{request.session.p9.6}}' != 'yes') {
        $('.ifDrink').css('background', 'red'); //.hide();
    }
    // doesWork
    if('{{request.session.p11.2}}' != 'yes') {
      $('.ifWork').css('background', 'red'); //.hide();
    }
  });
</script>