<script>
  $('document').ready(function() {
    // session check
    // classification
    if( '{{request.session.p1.0}}' == 'master' || '{{request.session.p1.0}}' == 'doctorate' ) {
      $('.ifNotGrad').hide(); //.css('background', 'red')
      $('.ifNotGrad select option:first-child').val('NA');
      $('.ifNotGrad input').val(0);
    }
    // isDistance
    if('{{request.session.p1.3}}' == 'no') {
      $('.ifDistance').hide(); //.css('background', 'red')
      $('.ifDistance select option:first-child').val('NA');
      $('.ifDistance input').val(0);
    }
    // isOnCampusClass
    if('{{request.session.p1.4}}' == 'no') {
      $('.ifOnCampusClass').hide(); //.css('background', 'red')
      $('.ifOnCampusClass select option:first-child').val('NA');
      $('.ifOnCampusClass td input').val(0);
    }
    // isTutoring
    if('{{request.session.p3.0}}' == 'yes') {
      $('.ifNotTutoring').hide(); //.css('background', 'red')
      $('.ifNotTutoring select option:first-child').val('NA');
      $('.ifNotTutoring input').val(0);
    } else {
      $('.ifTutoring').hide(); //.css('background', 'red')
      $('.ifTutoring select option:first-child').val('NA');
      $('.ifTutoring input').val(0);
    }
    // didOrientation
    if('{{request.session.p8.0}}' != 'yes') {
      $('.ifOrientation').hide(); //.css('background', 'red')
      $('.ifOrientation select option:first-child').val('NA');
      $('.ifOrientation input').val(0);
    }
    // isOrg
    if('{{request.session.p9.0}}' != 'yes') {
      $('.ifOrg').hide(); //.css('background', 'red')
      $('.ifOrg select option:first-child').val('NA');
      $('.ifOrg input').val(0);
    }
    // isOnCampus
    if('{{request.session.p9.2}}' == 'on') {
      $('.ifOnCampus').hide(); //.css('background', 'red')
      $('.ifOnCampus select option:first-child').val('NA');
      $('.ifOnCampus input').val(0);
    } else {
      $('.ifNotOnCampus').hide(); //.css('background', 'red')
      $('.ifNotOnCampus select option:first-child').val('NA');
      $('.ifNotOnCampus input').val(0);
    }
    if('{{request.session.p9.2}}' == 'on' || $('#isAway').val() == 'yes')  {

    } else {
      $('.ifAwayOrIfOnCampus').hide(); //.css('background', 'red')
      $('.ifAwayOrIfOnCampus select option:first-child').val('NA');
      $('.ifAwayOrIfOnCampus input').val(0);
    }
    // isAway
    if('{{request.session.p9.3}}' == 'no') {
      $('.ifAway').hide(); //.css('background', 'red')
      $('.ifAway select option:first-child').val('NA');
      $('.ifAway input').val(0);
    }
    if('{{request.session.p9.3}}' == 'yes' || $('#isOnCampus').val() == 'on')  {
    } else {
      $('.ifAwayOrIfOnCampus').hide(); //.css('background', 'red')
      $('.ifAwayOrIfOnCampus select option:first-child').val('NA');
      $('.ifAwayOrIfOnCampus input').val(0);
    }
    // doesDrink
    if('{{request.session.p9.6}}' != 'yes') {
      $('.ifDrink').hide(); //.css('background', 'red')
      $('.ifDrink select option:first-child').val('NA');
      $('.ifDrink input').val(0);
    }
    // doesWork
    if('{{request.session.p11.2}}' != 'yes') {
      $('.ifWork').hide(); //.css('background', 'red')
      $('.ifWork select option:first-child').val('NA');
      $('.ifWork input').val(0);
    }
  });
</script>