{% extends "survey/survey_base.html" %}

{#############################################}
{# Load tags django-bootstrap-forms package: #}
{#############################################}
  {% load bootstrap %}


{########################################}
{# Load tags django-bootstrap3 package: #}
{########################################}
  {% load bootstrap3 %}

{% block survey_header_title %}
  <small><span class="text-muted">SBA<sup>3</sup>-1</span></small>
  {{ student_uid }}
{% endblock %}

{% block survey_main_content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width:{{ progress_percentage }}%">
          {{ progress_percentage }}%
        </div>
      </div>
      {% bootstrap_messages %}

      <form action="#" method="post" class="form" role="form" id="survey-form">
        {% csrf_token %}
        {{ questions_page_form|bootstrap }}
        <hr>
        <div class="form-group">
          <div class="row">
            {% if previous_page_num != 0 %}
              <div class="col-xs-6">
                <a href="{% url 'survey_questions' school_id student_uid previous_page_num %}" class="btn btn-default btn-block" name="survey-page-previous">
                  <small>{% bootstrap_icon "menu-left" %}&ensp;</small>
                  Back
                </a>
              </div>
              <div class="col-xs-6">
            {% else %}
              <div class="col-xs-12">
            {% endif %}
              {% ifequal page_num 11 %}
                <button type="submit" class="btn btn-success btn-block" name="survey-submit">
                  Submit&ensp;
                  <small>{% bootstrap_icon "menu-right" %}</small>
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary btn-block" name="survey-page-next-submit-btn">
                  Next&ensp;
                  <small>{% bootstrap_icon "menu-right" %}</small>
                </button>
              {% endifequal %}
            </div>
          </div>
        </div>
        <div class="well well-sm text-center">
          <b>Continuation Key</b>&emsp;&emsp;ac9cs8nffap38bs
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block begin_survey_modal %}
  {% if no_errors %}
    {% if is_first_page %}
      <div class="modal fade" id="begin-survey-modal-message">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hello, {{ student_uid }}.</h4>
            </div>
            <div class="modal-body">
              <p class="lead">You have been emailed a passcode and a link so you can continue this survey at a later time, if necessary.</p>
              <p><i>Your continuation key is shown at the bottom of this page.</i></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success btn-block" id='begin-survey-modal-message-hide'>
                Ok, Start Survey
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}
  {% endif %}
{% endblock %}

{% block begin_survey_modal_js %}
  {% if no_errors %}
    {% if is_first_page %}
      <script>
        $modal = $('#begin-survey-modal-message');
        $modal.modal('show');
        $('#begin-survey-modal-message-hide').click(function(e) {
          $modal = $('#begin-survey-modal-message').modal('hide');
        });
      </script>
    {% endif %}
  {% endif %}
{% endblock %}