{% load staticfiles %}
{% load bootstrap3 %}

<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SBA&#xb3;-1 - Begin Survey</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {% bootstrap_css %}
</head>
<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block begin_survey_modal %}
{% endblock %}

{% block container_elem %}
<div class="container">
{% endblock %}
  <header class="row">
    <div class="col-xs-12">
      <h1>
        {% block survey_header_title %}
          <small><span class="text-muted">SBA<sup>3</sup>-1</span></small>
          Begin Survey
        {% endblock %}
      </h1>
    </div>
    <div class="col-xs-12">
      {{ school_name }}
    </div>
    <hr>
  </header>
  <main>
    {% block survey_main_content %}
    {% endblock %}
  </main>
</div>

{% bootstrap_javascript jquery=1 %}
<script>window.jQuery || document.write('jQuery FAILED TO LOAD.')</script>
<script src="{% static 'js/main.js' %}"></script>

{% block survey_main_content_js %}
{% endblock %}

{% block begin_survey_modal_js %}
{% endblock %}
</body>
</html>