@import 'bootstrap';

.container {
	table {
		tr {
			td {
				select, input {
					@extend .form-control;
				}
			}
			&:first-child {
				td {
					border-top: none;
				}
			}
		}
	}
}

h1 {
	font-size: 2em;
}

.bg-success, .bg-danger {
	padding: 15px;
}
body {
	background: red !important;
}
.next {

}
.prev {

}

tr[class^='if'], tr[class^='if'] {
	background: lightblue;
}